<!DOCTYPE HTML>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>

<body>

<%- partial('_partial/header') %>
<%- body %>
<%- partial('_partial/footer') %>

<%- partial('_partial/search') %>
<%- partial('_partial/back-top') %>

<script src="/libs/materialize/js/materialize.min.js"></script>
<script src="<%- theme.libs.js.masonry %>"></script>
<script src="<%- theme.libs.js.aos %>"></script>
<script src="<%- theme.libs.js.scrollProgress %>"></script>
<script src="<%- theme.libs.js.lightgallery %>"></script>
<script src="/js/matery.js"></script>
<style>
    #tp-weather-widget>div{
        z-index: 99;
        top:100px;
    }
</style>
<div id="tp-weather-widget"></div>
<script>
    (function(a,h,g,f,e,d,c,b){b=function(){d=h.createElement(g);c=h.getElementsByTagName(g)[0];d.src=e;d.charset="utf-8";d.async=1;c.parentNode.insertBefore(d,c)};a["SeniverseWeatherWidgetObject"]=f;a[f]||(a[f]=function(){(a[f].q=a[f].q||[]).push(arguments)});a[f].l=+new Date();if(a.attachEvent){a.attachEvent("onload",b)}else{a.addEventListener("load",b,false)}}(window,document,"script","SeniverseWeatherWidget","//cdn.sencdn.com/widget2/static/js/bundle.js?t="+parseInt((new Date().getTime() / 100000000).toString(),10)));
    window.SeniverseWeatherWidget('show', {
        flavor: "bubble",
        location: "WTMKQ069CCJ7",
        geolocation: true,
        language: "zh-Hans",
        unit: "c",
        theme: "dark",
        token: "7fb00a61-4997-4de9-86ed-0b1794a2c353",
        hover: "enabled",
        container: "tp-weather-widget"
    })
</script>

<%- partial('_partial/google-analytics') %>
<% if (theme.clicklove.enable) { %>
    <script src="<%- theme.libs.js.clicklove %>"></script>
<% } %>
<% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
    <script async src="<%- theme.libs.js.busuanzi %>"></script>
<% } %>

</body>
</html>
